.results {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.26px;
  display: inline-block;
  width: 4.08rem;
}
.component1formcheckbox {
  position: absolute;
  top: 50px;
  left: 0;
}
.component1formcheckbox1 {
  position: absolute;
  top: 86px;
  left: 0;
}
.stops {
  position: relative;
  width: 18.54rem;
  height: 6.63rem;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-dimgray-200);
  font-family: var(--components-button-large);
}
